/*
* @Author: 71764
* @Date:   2017-09-08 13:05:43
* @Last Modified by:   71764
* @Last Modified time: 2017-09-11 13:04:45
*/
@media only screen and (max-width: 767px)  {
    .comcontainer {
        width: 100%;
        margin: 0;
    }
    /*导航栏*/
    .mainmenu {
        display: none;
    }
    .logo-container{
        margin-left: 0;
        width:80%;
    }
    .portrait{
        margin-right: 0;
    }
    .portrait .myportrait{
        margin: 15px 10px;
    }
    /*第一屏*/
    .mainbody {
        width: 100%;
    }
    .mainbody h1 {
        font-size: 30px;
    }
    .linksto a{
        width: 75px;
        height: 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .quoteword {
        line-height: 14px;
        font-size: 14px;
    }
    /*guan yu wo*/
    .page1-intro-icon{
        width: 90%;
        height: auto;
        overflow: hidden;
        margin:50px auto;
    }
    .page1-intro-icon li {
        width: 50%;
        margin:20px 0;
    }
    
    /*求职*/
    .jobs{
        width: 90%;
        height: auto;
        overflow: hidden;
        margin:0 auto;
    }
    .jobs li{
        width: 50%;
        margin:20px 0;
    }
    /*作品*/
    .project-list li{
        padding: 0 20px;
    }
    .project-item a {
        width: 100%;
    }
    .project-item span{
        width:100%;
        margin-left:0;
        margin-top: 10px;
    }
    .project-item span h3{
        font-size: 16px;
    }
    .project-item span p{
        font-size: 14px;
    }
    /*技能*/
    #page4-chart {
        width: 100%;
        height: 400px;
        float: none;
        margin: 0 auto;
    }
    .skill-intro {
        float: none;
        margin-left: 0;
        width: 100%;
    }
    /*lian xi*/
    .contactlinks{
        width: 100%;
        height: 150px;
        margin: 0;
        top: 130px;
    }
    .contactlinks li{
        margin: 0;
        width:32.4%;
    }
    



}